<form [formGroup]="form">
  <mat-tab-group>
    <mat-tab *ngFor="let field of fields" label="{{field.label}}">
      <div [ngSwitch]="field.controlType">                                                    
          <mat-form-field>                      
            <input matInput *ngSwitchCase="'textbox'" [formControlName]="field.key" [id]="field.key" [type]="field.type" placeholder="{{field.label}}">                                                        
            <mat-select [id]="field.key" *ngSwitchCase="'dropdown'" [formControlName]="field.key">
              <mat-option *ngFor="let opt of field.options" [value]="opt.key">{{opt.value}}</mat-option>
            </mat-select>
          </mat-form-field>                
      </div> 
    </mat-tab>
  </mat-tab-group>
</form>