/* You can add global styles to this file, and also import other style files 
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
*/
body {
    font-size: 30px;
}

.mat-form-field {        
    width: 90%;        
    margin-left: 5%;
}


.ui-keyboard {
    bottom: 160px;
    width: 98%;
    border: 0 !important;  
    top: auto !important;
}